body {
    margin: 0;
    font-family: Arial, sans-serif;
    }
  
  .navbar {
    background-color: #f45c5c;
    overflow: hidden;
  }
  
  .navbar a, .navbar button {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    margin: 5px;
    text-decoration: none;
  }
  
  .navbar a:hover, .navbar button:hover {
    background-color: #ffffff;
    color: black;
  }
  
  .navbar button {
    float: left;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
  }